<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cxy7.data.fense.server.dao.DataSourceDao">
    <insert id="save" parameterType="com.cxy7.data.fense.server.model.DataSource" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO datasource( <include refid="allColumnForInsert" /> )
        VALUES (#{name}, #{jdbcUrl}, #{user}, #{pass}, #{engine}, #{poolConf}, #{createUser})
    </insert>

    <update id="update" parameterType="com.cxy7.data.fense.server.model.DataSource">
        UPDATE datasource
        SET name=#{name}, jdbc_url=#{jdbcUrl}, user=#{user}, pass=#{pass}, engine=#{engine}, pool_conf=#{poolConf},
        create_user=#{createUser}, update_time=NOW()
        WHERE id = #{id}
    </update>

    <delete id="deleteById">
        DELETE FROM datasource where id = #{id}
    </delete>

    <select id="getOne" resultMap="allColumnRs">
        select <include refid="allColumn" /> from datasource where id = #{id}
    </select>

    <select id="findAll" resultMap="allColumnRs">
        select <include refid="allColumn" /> from datasource
    </select>

    <select id="count" resultType="int">
        select count(1) from datasource
    </select>

    <resultMap id="allColumnRs" type="com.cxy7.data.fense.server.model.DataSource">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="jdbcUrl" column="jdbc_url"/>
        <result property="user" column="user"/>
        <result property="pass" column="pass"/>
        <result property="engine" column="engine"/>
        <result property="poolConf" column="pool_conf"/>
        <result property="createUser" column="create_user"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="allColumn">
        id,
        name,
        jdbc_url,
        user,
        pass,
        engine,
        pool_conf,
        create_user,
        create_time,
        update_time
    </sql>

    <sql id="allColumnForInsert">
        name,
        jdbc_url,
        user,
        pass,
        engine,
        pool_conf,
        create_user
    </sql>
</mapper>