<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Fense | 邮箱确认？</title>
    <div th:include="include/header::header"/>

</head>

<body class="gray-bg">

    <div class="passwordBox animated fadeInDown">
        <div class="row">

            <div class="col-md-12">
                <div class="ibox-content">

                    <h2 class="font-bold">邮箱确认</h2>

                    <p>
                        Thank you for confirming your email. Please <a href="/login">Click here to Log in</a>.
                    </p>
                </div>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-md-6">
                Copyright Example Company
            </div>
            <div class="col-md-6 text-right">
               <small>© 2014-2015</small>
            </div>
        </div>
    </div>

</body>

</html>
