<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Fense | 忘记密码？</title>
    <div th:include="include/header::header"/>

</head>

<body class="gray-bg">

    <div class="passwordBox animated fadeInDown">
        <div class="row">

            <div class="col-md-12">
                <div class="ibox-content">

                    <h2 class="font-bold">忘记密码</h2>

                    <p>
                        请输入注册时使用的邮箱
                    </p>

                    <div class="row">

                        <div class="col-lg-12">
                            <p style="color: red" th:text="${msg}" />
                            <form class="m-t" role="form" action="/user/iforgot">
                                <div class="form-group">
                                    <input type="email" name="email" class="form-control" placeholder="邮箱" required="true">
                                </div>

                                <button type="submit" class="btn btn-primary block full-width m-b">重置密码</button>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-md-6">
                Copyright Example Company
            </div>
            <div class="col-md-6 text-right">
               <small>© 2014-2015</small>
            </div>
        </div>
    </div>

</body>

</html>
