<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Fense | 用户登录</title>
    <div th:include="include/header::header"/>
</head>
<body class="gray-bg">

    <div class="middle-box text-center loginscreen animated fadeInDown">
        <div>
            <div>
                <h1 class="logo-name">Fense</h1>
            </div>
            <h3>欢迎使用Fense权限管理系统</h3>
            <p>一站式解决数据仓库权限管理问题</p>
            <p style="color: red" th:text="${msg}" />
            <form class="m-t" role="form" action="/user/login">
                <div class="form-group">
                    <input type="text" class="form-control" name="username" placeholder="用户名" required="">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" name="password" placeholder="密码" required="">
                </div>
                <button type="submit" class="btn btn-primary block full-width m-b">登录</button>

                <a href="/iforgot"><small>忘记密码?</small></a>
                <p class="text-muted text-center"><small>还没有账号?</small></p>
                <a class="btn btn-sm btn-white btn-block" href="/register">注册账号</a>
            </form>
            <p class="m-t"> <small>Inspinia we app framework base on Bootstrap 3 &copy; 2014</small> </p>
        </div>
    </div>

</body>

<footer th:include="include/footer::footer" />
</html>
