<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Fense | 用户管理</title>
    <div th:include="include/header::header"/>
    <link th:href="@{{path}/css/plugins/jQueryUI/jquery-ui-1.10.4.custom.min.css(path=${contextPath})}" rel="stylesheet">
    <link th:href="@{{path}/css/plugins/jqGrid/ui.jqgrid.css(path=${contextPath})}" rel="stylesheet">

    <style>
        /* Additional style to fix warning dialog position */
        #alertmod_table_list_2 {
            top: 900px !important;
        }

    </style>
</head>
<body>

<div id="wrapper">

    <div th:include="include/nav::nav"/>
    <div id="page-wrapper" class="gray-bg">
        <div th:include="include/left_nav::left_nav"/>
        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-10">
                <h2>用户管理</h2>
                <ol class="breadcrumb">
                    <li>
                        <a href="index.html">主页</a>
                    </li>
                    <li>
                        <a>用户管理</a>
                    </li>
                    <li class="active">
                        <strong>用户列表</strong>
                    </li>
                </ol>
            </div>
        </div>
        <div class="wrapper wrapper-content  animated fadeInRight">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox ">
                        <div class="ibox-title">
                            <h5>所有用户</h5>
                        </div>
                        <div class="ibox-content">
                            <div class="jqGrid_wrapper">
                                <table id="table_list_2"></table>
                                <div id="pager_list_2"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:include="include/footer::footer_state"/>
    </div>
</div>
<div th:include="include/footer::footer"/>

<!-- jqGrid -->
<script th:src="@{{path}/js/plugins/jqGrid/i18n/grid.locale-en.js(path=${contextPath})}" type="text/javascript"></script>
<script th:src="@{{path}/js/plugins/jqGrid/jquery.jqGrid.min.js(path=${contextPath})}" type="text/javascript"></script>

<script>
    $(document).ready(function () {
        var props = {
            addCaption : "新增",
            editCaption : "Edit Record",
            bSubmit : "提交",
            bCancel : "取消",
            bClose : "关闭",
            saveData : "Data has been changed! Save changes?",
            bYes : "Yes",
            bNo : "No",
            bExit : "取消",
            closeAfterEdit : true,
            closeAfterAdd : true,
            clearAfterAdd : true
        }
        // Configuration for jqGrid Example 2
        $("#table_list_2").jqGrid({
            url: "/user/list",
            datatype: "json",
            height: 450,
            autowidth: true,
            shrinkToFit: true,
            rowNum: 20,
            rowList: [10, 20, 30],
            colModel:[
                {name:'id',label:'id', width:20},
                {name:'name',label:'姓名', editable: true, width:50},
                {name:'pass',label:'密码', edittype:'password', editable: true, width:100},
                {name:'email',label:'邮箱', editable: true, width:110},
                {name:'last_login_time',label:'最后登录时间', width:110},
                {name:'create_time',label:'注册时间', width:110}
            ],
            pager: "#pager_list_2",
            viewrecords: true,
            caption: "所有用户",
            add: true,
            addtext: '新增',
            edit : props,
            editurl : '/user/edit',
            edittext: '编辑',
            hidegrid: false
        });

        // Add selection
        $("#table_list_2").setSelection(4, true);

        // Setup buttons
        $("#table_list_2").jqGrid('navGrid', '#pager_list_2',
            // the buttons to appear on the toolbar of the grid
            { edit: true, add: true, del: true, search: false, refresh: false, view: false, position: "left", cloneToTop: false },
            // options for the Edit Dialog
            {
                height: 'auto',
                width: 620,
                editCaption: "编辑",
                recreateForm: true,
                closeAfterEdit: true,
                errorTextFormat: function (data) {
                    return 'Error: ' + data.responseText
                }
            },
            // options for the Add Dialog
            {
                addCaption : "新增",
                height: 'auto',
                width: 620,
                closeAfterAdd: true,
                recreateForm: true,
                errorTextFormat: function (data) {
                    return 'Error: ' + data.responseText
                }
            },
            // options for the Delete Dailog
            {
                delCaption: "删除用户",
                errorTextFormat: function (data) {
                    return 'Error: ' + data.responseText
                }
            }
        );

        // Add responsive to jqGrid
        $(window).bind('resize', function () {
            var width = $('.jqGrid_wrapper').width();
            $('#table_list_2').setGridWidth(width);
        });

        setTimeout(function(){
            $('.wrapper-content').removeClass('animated fadeInRight');
        },700);

    });

</script>
</body>
</html>